.chat-container {
  width: 100%;
  height: 100%;
}

.messages {
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.input-bar {
  width: 100%;
  height: 100%;
}

.input-bar form{
  width: 75vw;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background-color: dodgerblue;
}

.input-bar input {
  height: 30px;
  border-radius: 10px;
  resize: none;
  width: 900px;
  margin: 5px;
  padding-left: 10px;
  font-size: 16px;
  overflow: hidden;
}

.input-bar button {
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1075px ) {
  .input-bar form {
    width: calc(100vw - 270px)
  }
}

@media (max-width: 900px){
  .input-bar form {
    width: calc(100vw - 240px)
  }
}